DJANGO_SETTINGS_MODULE=core.settings.prod
DJANGO_SECRET_KEY=replace-with-a-random-secret
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=gesthub.gest.tp.vps.tecnico.ulisboa.pt,gest.tecnico.ulisboa.pt
DJANGO_CSRF_TRUSTED_ORIGINS=https://gesthub.gest.tp.vps.tecnico.ulisboa.pt,https://gest.tecnico.ulisboa.pt

# Uncomment and replace with the production PostgreSQL connection details.
# DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE

CALENDAR_ICAL_URL="https://calendar.google.com/calendar/ical/f33f8cc9f59ccadffa773cf4fcfa3ce73f9a09b92b467cdb36e5aa52f5e60c99%40group.calendar.google.com/public/basic.ics"
CALENDAR_ORIGIN_URL="https://calendar.google.com/calendar/embed?src=f33f8cc9f59ccadffa773cf4fcfa3ce73f9a09b92b467cdb36e5aa52f5e60c99%40group.calendar.google.com&ctz=Europe%2FLisbon"
# 5m
CALENDAR_REFRESH_SECONDS="300"

BGG_TOKEN="..."
