DJANGO_SETTINGS_MODULE=core.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
# DATABASE_URL=postgres://gest:gest@localhost:5432/gest

CALENDAR_ICAL_URL="https://calendar.google.com/calendar/ical/f33f8cc9f59ccadffa773cf4fcfa3ce73f9a09b92b467cdb36e5aa52f5e60c99%40group.calendar.google.com/public/basic.ics"
CALENDAR_ORIGIN_URL="https://calendar.google.com/calendar/embed?src=f33f8cc9f59ccadffa773cf4fcfa3ce73f9a09b92b467cdb36e5aa52f5e60c99%40group.calendar.google.com&ctz=Europe%2FLisbon"
# 5m
CALENDAR_REFRESH_SECONDS="300"
