{
  # Dev
  debug
}

{$CADDY_DOMAINS:localhost} {
  encode zstd gzip

  handle_path /static/* {
    root * /srv/gest/public/static
    file_server
  }

  handle_path /media/* {
    root * /srv/gest/public/media
    file_server
  }

  redir {$DISCORD_REDIR_URL} {$DISCORD_TRUE_URL}
  redir {$WHATSAPP_REDIR_URL} {$WHATSAPP_TRUE_URL}

  @sync path {$SYNC_WEBHOOK_PATH:/ops/sync}
  reverse_proxy @sync unix//run/gesthub-sync/webhook.sock

  reverse_proxy web:8000
}
