gesthub.gest.tp.vps.tecnico.ulisboa.pt gest.tecnico.ulisboa.pt {
  encode zstd gzip

  handle_path /static/* {
    root * /srv/gest/public/static
    file_server
  }

  handle_path /media/* {
    root * /srv/gest/public/media
    file_server
  }

  redir /discord https://discord.com/invite/PU3aQhHnqu
  redir /whatsapp https://chat.whatsapp.com/EcchDmfIpEt8G28dYXRrx9

  reverse_proxy web:8000
}