<a href="https://instagram.com/gest.aeist" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
  {% include "icons/instagram.opt.svg" %}
</a>
<a href="{{ site_urls.discord }}" target="_blank" rel="noopener noreferrer" aria-label="Discord">
  {% include "icons/discord.opt.svg" %}
</a>
<a href="{{ site_urls.whatsapp }}" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
  {% include "icons/whatsapp.opt.svg" %}
</a>
<a href="mailto:gest.sa@aeist.pt" aria-label="Email">
  {% include "icons/mail.svg" %}
</a>
